<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caihua.idcardreader"
    platformBuildVersionCode="19"
    platformBuildVersionName="4.4.2-1035858" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name=" android.hardware.usb.host"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/read"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- online -->
        <activity
            android:name="com.whzl.reader.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.caihua.ui.online.WelComeActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name="com.caihua.ui.online.ReaderActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.caihua.ui.online.ConfigActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name="com.caihua.ui.online.HelpActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Black.NoTitleBar" />

        <!-- offline -->
        <activity
            android:name="com.yunmai.cc.smart.eye.activity.DemoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="证件识别"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.yunmai.cc.smart.eye.activity.CameraActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>

</manifest>